body {
    background: #ffffff;
}

.notice {
    margin: 20px;
    border: green 1px solid;
    color: green;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.error {
    margin: 20px;
    border: red 1px solid;
    color: red;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.search_object {
    background: #ffbb2d;
    padding: 20px;
}

.object_wrapper {
    padding: 20px;
    border: #c6c6c6 1px solid;
    margin-bottom: 20px;
    min-width: 700px;
}

.object_name {
    color: #0075c9;
    font-size: 24px;
    font-weight: bold;
}

.object_right {

}

.object_address {
    color: #5a5a5a;
}

.object_contacts {
    color: #5a5a5a;
}

.object_image {
    width: 120px;
    height: auto;
}

.object_rates {
    display: inline-block;
    text-align: right;
    width: 100%;
    color: #0075c9;
    font-size: 20px;
    font-weight: bold;
}

.object_numbers {
    display: inline-block;
    text-align: right;
    width: 100%;
    color: #00b432;
}

.book_now {
    display: inline-block;
    text-align: right;
    width: 100%;
    margin-top: 20px;
}

.book {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.book_row:nth-child(2n+1) {
    background: #e9f0fa;
}

.book_row{
    padding-left: 10px;
}

.object_service {
    color: #00b432;
    padding-top: 5px;
}