{% extends 'base.html.twig' %}

{% block title %}Add Object{% endblock %}

{% block content %}

    {{ include('objects/googlemaps.html.twig') }}
    <div class="row">
        <div class="col-6">
            {{ form(form) }}
        </div>
        <div class="col-6 pt-4">
            <div id="map_canvas" style="width: 600px; height: 480px;"></div>
        </div>

    </div>

{% endblock %}