{% extends 'base.html.twig' %}

{% block title %}Add Object{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6 mx-auto">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}