<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCQgC-9GVPHTFOyrF_Ys-wrW988ttCHOOc"></script>
<script type='text/javascript'>//<![CDATA[
    window.onload=function(){
        var map;
        function initialize() {
            var myLatlng = new google.maps.LatLng(42.64, 77.09);

            var myOptions = {
                zoom: 9,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            var marker = new google.maps.Marker({
                draggable: true,
                position: myLatlng,
                map: map,
                title: "Your location"
            });

            google.maps.event.addListener(marker, 'dragend', function (event) {
                document.getElementById("app_client_address").value = event.latLng.lat() + "; " +event.latLng.lng();;
                infoWindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, "load", initialize());
    }//]]>
</script>