{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block content %}

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCQgC-9GVPHTFOyrF_Ys-wrW988ttCHOOc"></script>
    <script type='text/javascript'>//<![CDATA[
        window.onload = function () {
            var map;

            function initialize() {
                var myLatlng = new google.maps.LatLng({{ object.address }});

                var myOptions = {
                    zoom: 9,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                var marker = new google.maps.Marker({
                    draggable: false,
                    position: myLatlng,
                    map: map,
                    title: "Your location"
                });

            }

            google.maps.event.addDomListener(window, "load", initialize());
        }//]]>
    </script>


    <div class="row">
        <div class="col-12">

            <div class="object_wrapper">
                <div class="row">
                    <div class="col-4">
                        <div id="map_canvas" style="width: 300px; height: 300px;"></div>

                    </div>
                    <div class="col-6">
                        <div class="object_name">  {{ object.name }}</div>
                        <div class="object_address"><i class="fas fa-map-marker-alt"></i> {{ object.address }}
                        </div>
                        <div class="object_contacts"><i class="fas fa-phone-square"></i> {{ object.contact }}</div>
                        <div class="object_service">
                            {% if object.type == "pension" %}
                                {% if object.breakfast %}
                                    <i class="fas fa-check"></i> Breakfast Included
                                {% endif %}
                                {% if object.laundry %}
                                    <i class="fas fa-check"></i> Laundry Service
                                {% endif %}
                            {% endif %}
                            {% if object.type == "cottage" %}
                                {% if object.terrace %}
                                    <i class="fas fa-check"></i> Terrace
                                {% endif %}
                                {% if object.kitchen %}
                                    <i class="fas fa-check"></i> Kitchen
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-2 object_right">
                        <div class="object_rates"> {{ object.rates }} som/night</div>
                        <div class="object_numbers"> Available rooms: {{ object.numberOfRooms }}</div>
                    </div>
                </div>
                {% for  i in object.numberOfRooms..1 %}
                    {% set checkIn = date() |date('Y-m-d') %}
                    {% set checkOut = date(checkIn) |date_modify("+7 day")|date('Y-m-d') %}
                    <div class="book_row pt-2 pb-2">
                        <div class="row">
                            <div class="col-2 pt-2"><b>Room number: #{{ i }}</b></div>

                            {% if object.bookings[i] is defined %}
                                {% set checkIn = object.bookings[i].checkOut %}
                                {% set checkOut = date(checkIn) |date_modify("+7 day")|date('Y-m-d') %}
                            {% endif %}
                            <div class="col-3 pt-2"><b>Check-In Date:</b> {{ checkIn }}</div>
                            <div class="col-3 pt-2"><b>Check-Out Date:</b> {{ checkOut }}
                            </div>
                            <div class="col-4">
                                <div class="book"><a
                                            href="{{ path('booking', {'object': object.id, 'check_in': checkIn, 'check_out': checkOut}) }}"
                                            class="btn btn-primary">Book now</a>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
{% endblock %}