{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-3">
            <div class="search_object">
                <h5>Search</h5>
                {{ form(form) }}
            </div>

        </div>
        <div class="col-9">
            {% for object in objects %}
                <div class="object_wrapper">
                    <div class="row">
                        <div class="col-2">
                            <img class="object_image" src="{{ asset('images/image.jpg') }}">

                        </div>
                        <div class="col-6">
                            <div class="object_name"><a
                                        href="{{ path('showOneObject', {'id': object.id}) }}"> {{ object.name }}</a>
                            </div>
                            <div class="object_address"><i class="fas fa-map-marker-alt"></i> {{ object.address }}
                            </div>
                            <div class="object_contacts"><i class="fas fa-phone-square"></i> {{ object.contact }}</div>
                            <div class="object_service">
                                {% if object.type == "pension" %}
                                    {% if object.breakfast %}
                                        <i class="fas fa-check"></i> Breakfast Included
                                    {% endif %}
                                    {% if object.laundry %}
                                        <i class="fas fa-check"></i> Laundry Service
                                    {% endif %}
                                {% endif %}
                                {% if object.type == "cottage" %}
                                    {% if object.terrace %}
                                        <i class="fas fa-check"></i> Terrace
                                    {% endif %}
                                    {% if object.kitchen %}
                                        <i class="fas fa-check"></i> Kitchen
                                    {% endif %}
                                {% endif %}
                            </div>


                        </div>
                        <div class="col-4 object_right">
                            <div class="object_rates"> {{ object.rates }} som/night</div>
                            <div class="object_numbers"> Available rooms: {{ object.numberOfRooms }}</div>
                            <div class="book_now"><a href="{{ path('showOneObject', {'id': object.id}) }}"
                                                     class="btn btn-primary">Book now</a></div>


                        </div>


                    </div>

                </div>


            {% endfor %}

        </div>
    </div>
{% endblock %}
