{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <h3>Profile:</h3>
    <div class="pt-1"><i class="fas fa-envelope"></i>: {{ client.email }}</div>
    <div class="pt-1"><i class="fas fa-key"></i>: {{ client.passport }}</div>
    <div class="pt-1"><i class="fab fa-vk"></i>: {{ client.vkId }}</div>
    <div class="pt-1"><i class="fab fa-facebook-square"></i>: {{ client.faceBookId }}</div>
    <div class="pt-1"><i class="fab fa-google"></i>: {{ client.googleId }}</div>

    <div class="pt-4">Bind Social Account:</div>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin"
         data-ulogin="display=panel;theme=flat;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fclient%2Fbind_social;mobilebuttons=0;optional=email"></div>

{% endblock %}
