{% extends 'base.html.twig' %}

{% block title %}Sign UP{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6 mx-auto">
            {{ form(form) }}
            <script src="//ulogin.ru/js/ulogin.js"></script>
            <div id="uLogin"
                 data-ulogin="display=panel;theme=flat;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fclient%2Fsocial-reg-first;mobilebuttons=0;optional=email"></div>
        </div>
    </div>

{% endblock %}
